@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --main-color: #f2690d;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.video-container {
    height:100vh;
    width:100vw;
}
.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header {
    position:relative;
}
.header-top i {
    position:fixed;
    margin: 12px;
    font-size:35px;
    color: var(--main-color) ;
    cursor:pointer;
    z-index: 1;
}
.header-top ul {
    position:fixed;
    right:0;
    width:300px;
    height:100vh;
    padding:150px 0 0 50px;
    display: none;
    opacity: 0;
    z-index: 1;
    background: none;
    /* background-color:#0debf2; */
}
.header-top ul.active {
    display:block;
    opacity:1;
}
.header-top ul li{
    margin-bottom:20px;
    font-size:20px;
    cursor:pointer;
    animation: fade 0.3 linear backwwards;
    animation-delay: calc(0.3s * var(--x))
}
@keyframes fade {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
}
.header-top ul li a{
    display:block;
    background-color: var(--main-color);
    padding:12px;
    transition: all 0.3s ease;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
}
.header-top ul li a:hover{
    color: tomato;
}
.header-content {
    position:absolute;
    top: 0;
    left:0;
    min-height:100vh;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 150px 50px 0 50px;
    text-align: center;
    width: 400px;
}
.header-content> h1 {
    color: var(--main-color);
}
.header-content> p {
    color: var(--main-color);
}
form{
    padding: 30px 12px;
    background-color:#fff;
    margin-top: 30px;
}
form h1 {
    color: #333;
    font-size: 26px;
}
form select, input {
   width:100%;
   height:35px;
   padding-left: 12px;
   outline:none;
}